.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
}

.Barra {
  font-size: 21px;
  font-weight: 900;
  background-color: #008a25;
}

.Barra_menu.container {
  margin-left: 10px;
}

a.nav-link{
  color: rgb(255, 255, 255);
  box-shadow: inset 0 -5px 0 0 #bbb3ab00;
  transition: 0.3s;
}

a.nav-link:hover{
  color: rgb(62, 87, 66);
  box-shadow: inset 0 -5px 0 0 #ff8b02;
  transition: 0.3s;
}

a.nav-link:active{
  color: #89c865;
}

img.imagen_profile {
  width: 50px;
}

.card {
  background-color: #ffffff;
}

.box-shadow.card {
  border-radius: 20px;
  border-width: 2px;
  border: var(--bs-card-border-width) solid rgb(8 100 43);
}

.danger {
  font-style: italic;
  font-weight: 900;
  background-color: rgb(156, 31, 31);
  border-width: 2px;
  border-color: #580707;
}

.danger:hover {
  background-color: rgb(175, 81, 18);
  border-color: #580707;
}

.carta_imagen {
  height: 100%;
  border-radius: 5px;
  border-color: #ffffff00;
}

.Formulario_usuario label.d-flex.justify-content-center.form-label {
  margin-top: 15px;
}

.btn.btn-success {
  border: 3px solid #0d4912;
  box-sizing: border-box;
}

.boton-naranja {
  background-color: #ff8b02;
  border: 3px solid #c97719!important;
  box-sizing: border-box;
}

.boton-naranja:hover {
  background-color: #c97719;
  border: 3px solid #8c5311!important;
}

@media  (min-width: 426px) and (max-width: 1024px) {
  button.w-100.btn.btn-success.mt-3 {
    font-size: 11px;
    padding: 10px;
  }
}

@media  (max-width: 426px) {
  .p-md-0.p-5.card-body {
    text-align: center;
  }
}