.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #062563;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
}

.Barra {
  font-size: 21px;
  font-weight: 900;
  background-color: #008a25;
}

.Barra_menu.container {
  margin-left: 10px;
}

a.me-3.link_nav.nav-link{
  color: rgb(255, 255, 255);
  box-shadow: inset 0 -5px 0 0 #bbb3ab00;
  transition: 0.3s;
}

a.me-3.link_nav.nav-link:hover{
  color: rgb(62, 87, 66);
  box-shadow: inset 0 -5px 0 0 #ff8b02;
  transition: 0.3s;
}

a.nav-link:active{
  color: #89c865;
}

div#basic-navbar-nav {
justify-content: space-between;
}

button#dropdown-basic {
  display: flex;
  align-items: center;
  border-width: 0px;
}

.dropdown-menu.show {
  background-color: #ffffff;
}

.dropdown-menu.show:hover {
  background-color: #ffffff;
}

a.dropdown-item:hover {
  background-color: #ffffff;
}

a.submenu.dropdown-item:hover {
  color: rgb(62, 87, 66)!important;
  box-shadow: inset 0 -5px 0 0 #ff8b02;
  transition: 0.3s;
}

a.submenu.nav-link {
  color: rgb(208, 208, 208);
}

a.submenu.nav-link:hover {
  color: rgb(62, 87, 66);
  box-shadow: inset 0 -5px 0 0 #ff8b02;
  transition: 0.3s;
}

.card-body {
  border-radius: 20px;
  color: #3b6060;
  border-width: 0px;
}

.card-activity-protodash {
  border-radius: 50px;
  background-color: #ffffff;
  box-shadow: 5px 6px 8px 1px rgba(2, 25, 3, 0.4)
}

img.imagen_profile {
  width: 50px;
}
.card {
  background-color: #ffffff;
}

.box-shadow.card {
  border-radius: 50px;
  border-width: 0px;
  border: var(--bs-card-border-width) solid rgba(8, 100, 43, 0);
}

.danger {
  font-style: italic;
  font-weight: 900;
  background-color: rgb(156, 31, 31);
  border-width: 2px;
  border-color: #580707;
}

.danger:hover {
  background-color: rgb(175, 81, 18);
  border-color: #580707;
}

.carta_imagen {
  height: 100%;
  border-radius: 5px;
  border-color: #ffffff00;
}

.Formulario_usuario label.d-flex.justify-content-center.form-label {
  margin-top: 15px;
}

input.form-check-input{
  border-color: #00820B;
  border-radius: 10px; 
  border-width: 2px;
}
.btn.btn-success {
  border: 3px solid #0d4912;
  box-sizing: border-box;
}

.boton-naranja {
  background-color: #ff8b02;
  border: 3px solid #c97719!important;
  box-sizing: border-box;
}

.boton-naranja:hover {
  background-color: #c97719;
  border: 3px solid #8c5311!important;
}

button#uncontrolled-tab-example-tab-nearAct {
  background-color: #dde8e8;
  margin-bottom: -2px;
}

button#uncontrolled-tab-example-tab-signedAct {
  background-color: #dde8e8;
  margin-bottom: -2px;
}

.nav-tabs .nav-link {
  color: rgba(85, 85, 85, 0.4);
}

ul.mb-3.nav.nav-tabs {
  border: 2px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #3b6060;
  background-color: #ffffff00;
}

.nav-tabs .nav-link.active {
  border: 2px solid;
  border-radius: 20px 20px 0 0px;
  border-bottom-color: #dde8e8!important;
  border-color: #3b6060;
  background-color: #ffffff00;
}

input.me-2.form-control {
  border: 2px solid;
  border-color: #2e6126;
  background-color: #ffffff00;
}

input.me-md-2.mb-2.mb-md-0.form-control {
  background-color: #ffffff00;
  border-color: #2e6126!important;
  border-width: 2px;
}

input.me-md-2.form-control {
  background-color: #ffffff00;
  border-color: #2e6126;
  border-width: 2px;
}

@media  (min-width: 426px) and (max-width: 1024px) {
  button.w-100.btn.btn-success.mt-3 {
    font-size: 11px;
    padding: 10px;
  }
}

@media  (max-width: 426px) {
  .p-md-0.p-5.card-body {
    text-align: center;
  }
}

@media  (max-width: 426px) {
  .pt-4.pb-4.px-5.card-body {
    font-size: 15px;
    padding: 10px;
  }

  .px-5.col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12 {
    padding: 0px!important;
  }

  .card-title.h5 {
    font-size: 20px;
    padding: 10px;
  }
}