<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EJS Is Fun</title>

    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body { padding-top:50px; }
    </style>
</head>
<body class="container">
    <main>
        <!-- Main header -->
        <h1>POST TUTORIAL</h1>
        <div class="form">
            <!-- Login form -->
            <form action="/login" method="post">
                Username: <input type="text" name="username" value="" /><br><br>
                Password: <input type="text" name="password" value="" /><br><br>
                <input type="submit" value="Login"/><br><br><hr>
            </form>
            <!-- Show list button -->
            <form method="post" action="/mostrarLista">
                <input type="submit" value="Show list">
            </form>
            <!-- Get users button -->
            <form method="post" action="/getUsers">
                <input type="submit" value="Take users">
            </form>
                <!-- Register form -->
                <form action="/register" method="post">
                Username: <input type="text" name="username" value="" /><br><br>
                Password: <input type="text" name="password" value="" /><br><br>
                ConfPassword: <input type="text" name="confPassword" value="" /><br><br>
                <input type="submit" value="Register"/><br><br><hr>
                </form>
            <!-- Add activity form -->
            <form action="/addActivities" method="post">
                NameAct: <input type="text" name="nameAct" value="" /><br><br>
                Date: <input type="text" name="date" value="" /><br><br>
                <input type="submit" value="Add Activities"/><br><br><hr>
            </form>
            <!-- Get activities button -->
            <form method="post" action="/getActivities">
                <input type="submit" value="Get Activities">
            </form>
            <!-- Add user activity form -->
            <form action="/addList" method="post">
                IdAct: <input type="text" name="idAct" value="" /><br><br>
                IdUser: <input type="text" name="idUser" value="" /><br><br>
                <input type="submit" value="Add UserAct"/><br><br><hr>
            </form>
            <!-- Get user activities button -->
            <form method="post" action="/getList">
                <input type="submit" value="Get UserActs">
            </form>

            <form method="post" action="/getnewAct">
                <input type="submit" value="nuevo">
            </form>

            <form action="/newActivities" method="post">
                NameAct: <input type="text" name="nameAct" value="" /><br><br>
                Date: <input type="text" name="date" value="" /><br><br>
                <input type="submit" value="Add Activities"/><br><br><hr>
            </form>
            
            <form action="/newRegister" method="post">
                Username: <input type="text" name="username" value="" /><br><br>
                Password: <input type="text" name="password" value="" /><br><br>
                ConfPassword: <input type="text" name="confPassword" value="" /><br><br>
                <input type="submit" value="Register"/><br><br><hr>
                </form>

            <form method="post" action="/newRegister">
                IdAct: <input type="text" name="idAct" value="" /><br><br>
                IdUser: <input type="text" name="idUser" value="" /><br><br>
                <input type="submit" value="nuevo2">
            </form>

            <form method="post" action="/getcompact">
                <input type="submit" value="nuevo">
            </form>

            <form method="post" action="/getcompetitor">
                <input type="submit" value="participante">
            </form>

            <form method="post" action="/getOrganizer">
                <input type="submit" value="organizer">
            </form>

            <form method="post" action="/getnewlist">
                IdAct: <input type="text" name="idAct" value="" /><br><br>
                IdUser: <input type="text" name="idUser" value="" /><br><br>
                <input type="submit" value="nuevaLista">
            </form>
        </div>
    </main>
    <footer>
        <!-- Footer -->
        <p class="text-center text-muted">© Copyright 2023</p>
    </footer>
</body>
</html>