<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EJS Is Fun</title>

    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body { padding-top:50px; }
    </style>
</head>
<body class="container">
    <main>
        <!-- Main header -->
        <h1>POST TUTORIAL</h1>
        <div class="form">
            <p>TODOS LOS DELETES</p>
            <form method="post" action="/deleteCompetitor">
                NifCom: <input type="text" name="NifCom" value="" /><br><br>
                <input type="submit" value="borrar">
            </form>

            <form method="post" action="/deleteTheme">
                idTheme: <input type="text" name="idTheme" value="" /><br><br>
                <input type="submit" value="borrar">
            </form>

            <form method="post" action="/deleteOrganizer">
                idOrganizer: <input type="text" name="idOrganizer" value="" /><br><br>
                <input type="submit" value="borrar">
            </form>

            <form method="post" action="/deleteImgOrg">
                idImgOrg: <input type="text" name="idImgOrg" value="" /><br><br>
                <input type="submit" value="borrar">
            </form>
            
            <form method="post" action="/deletePublic">
                idPublic: <input type="text" name="idPublic" value="" /><br><br>
                <input type="submit" value="borrar">
            </form>

            <form method="post" action="/deletePeriod">
                idPeriod: <input type="text" name="idPeriod" value="" /><br><br>
                <input type="submit" value="borrar">
            </form>

            <form method="post" action="/deletenewuser">
                userNIF: <input type="text" name="userNIF" value="" /><br><br>
                <input type="submit" value="borrar">
            </form>

            <form method="post" action="/deletenewactivity">
                activityId: <input type="text" name="activityId" value="" /><br><br>
                <input type="submit" value="borrar">
            </form>

            <form method="post" action="/deleteimgact">
                idImgAct: <input type="text" name="idImgAct" value="" /><br><br>
                <input type="submit" value="borrar">
            </form>

            <form method="post" action="/deleteorgtype">
                idTypeOrg: <input type="text" name="idTypeOrg" value="" /><br><br>
                <input type="submit" value="borrar">
            </form>

            <form method="post" action="/deleteperiodact">
                actDate: <input type="text" name="actDate" value="" /><br><br>
                activityId: <input type="text" name="idAct" value="" /><br><br>
                <input type="submit" value="borrar">
            </form>
            <form method="post" action="/deletecomact">
                Date: <input type="text" name="actDate" value="" /><br><br>
                IdAct: <input type="text" name="idAct" value="" /><br><br>
                IdUser: <input type="text" name="idUser" value="" /><br><br>
                <input type="submit" value="borrar"><hr>
        </div>
    </main>
    <footer>
        <!-- Footer -->
        <p class="text-center text-muted">© Copyright 2023</p>
    </footer>
</body>
</html>