<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EJS Is Fun</title>

    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body { padding-top:50px; }
    </style>
</head>
<body class="container">
    <main>
        <!-- Main header -->
        <h1>POST TUTORIAL</h1>
        <div class="form">
            <form action="/updateActivities" method="post">
                <p>Editar Actividad</p>
                activityId: <input type="text" name="activityId" value="" /><br><br>
                nameAct: <input type="text" name="NameAct" value="" /><br><br>
                idPublicType: <input type="text" name="idPublicType" value="" /><br><br>
                idTheme: <input type="text" name="idTheme" value="" /><br><br>
                idImgAct: <input type="text" name="idImgAct" value="" /><br><br>
                startDate: <input type="text" name="startDate" value="" /><br><br>
                finishDate: <input type="text" name="finishDate" value="" /><br><br>
                idPeriod: <input type="text" name="idPeriod" value="" /><br><br>
                idCreator: <input type="text" name="idCreator" value="" /><br><br>
                <input type="submit" value="Editar"/><br><br><hr>
            </form>
            <form action="/updateUser" method="post">
                <p>Editar Usuario</p>
                userNIF: <input type="text" name="userNIF" value="" /><br><br>
                name: <input type="text" name="name" value="" /><br><br>
                lastname: <input type="text" name="lastname" value="" /><br><br>
                email: <input type="text" name="email" value="" /><br><br>
                birthdate: <input type="text" name="birthdate" value="" /><br><br>
                phoneNumber: <input type="text" name="phoneNumber" value="" /><br><br>
                password: <input type="text" name="password" value="" /><br><br>
                gender: <input type="text" name="gender" value="" /><br><br>
                <input type="submit" value="Editar"/><br><br><hr>
            </form>
            <form action="/updateOrganizer" method="post">
                <p>Editar Organizador</p>
                NifOrg: <input type="text" name="NifOrg" value="" /><br><br>
                idImgOrg: <input type="text" name="idImgOrg" value="" /><br><br>
                idtypeProf: <input type="text" name="idtypeProf" value="" /><br><br>
                <input type="submit" value="Editar"/><br><br><hr>
            </form>
            <form action="/updateCompetitor" method="post">
                <p>Editar Participante</p>
                NifCom: <input type="text" name="NifCom" value="" /><br><br>
                emergencyNumber: <input type="text" name="emergencyNumber" value="" /><br><br>
                <input type="submit" value="Editar"/><br><br><hr>
            </form>
            <form action="/updateOrgType" method="post">
                <p>Editar Tipo de organizador</p>
                idTypeOrg: <input type="text" name="idTypeOrg" value="" /><br><br>
                orgType: <input type="text" name="orgType" value="" /><br><br>
                <input type="submit" value="Editar"/><br><br><hr>
            </form>
            <form action="/updateOrgType" method="post">
                <p>Editar Tipo de organizador</p>
                idTypeOrg: <input type="text" name="idTypeOrg" value="" /><br><br>
                orgType: <input type="text" name="orgType" value="" /><br><br>
                <input type="submit" value="Editar"/><br><br><hr>
            </form>
            <form action="/updatePublic" method="post">
                <p>Editar Tipo de Publico</p>
                idPublicType: <input type="text" name="idPublicType" value="" /><br><br>
                publicType: <input type="text" name="publicType" value="" /><br><br>
                <input type="submit" value="Editar"/><br><br><hr>
            </form>
            <form action="/updatePeriod" method="post">
                <p>Editar Periodos</p>
                idPeriod: <input type="text" name="idPeriod" value="" /><br><br>
                period: <input type="text" name="period" value="" /><br><br>
                <input type="submit" value="Editar"/><br><br><hr>
            </form>

            <form action="/updateTheme" method="post">
                <p>Editar Etiqueta</p>
                idTheme: <input type="text" name="idTheme" value="" /><br><br>
                themeName: <input type="text" name="themeName" value="" /><br><br>
                <input type="submit" value="Editar"/><br><br><hr>
            </form>

            <form action="/resetPassword" method="post">
                <p>Regenerar Contraseña</p>
                User Nif: <input type="text" name="newUserNif" value="" /><br><br>
                <input type="submit" value="Reset"/><br><br><hr>
            </form>
            
            <form action="/updatePassword" method="post">
                <p>Cambiar contraseña</p>
                UserNIF: <input type="text" name="newUserNif" value="" /><br><br>
                Actual UserPass: <input type="password" name="actualUserPass" value="" /><br><br>
                new UserPass: <input type="password" name="newUserPass" value="" /><br><br>
                Repeat new UserPass: <input type="password" name="repeat_newUserPass" value="" /><br><br>
                <input type="submit" value="Editar"/><br><br><hr>
            </form>

        </div>
    </main>
    <footer>
        <!-- Footer -->
        <p class="text-center text-muted">© Copyright 2023</p>
    </footer>
</body>
</html>